
    {extend name="layoutextend"}

{block name="link"}
<div class="container clear">
    <div class="zgs_cl_left" style="width: 100%;">
        <div style="height: 6.5rem;"></div>
        <!-- 主体内容 -->
        <div style="">
            <!-- start -->
            asdf
            <!-- end -->
        </div>
    </div>
    <!-- 头部选择表示 -->
    <script type="text/javascript">
        $(document).ready(function(){
            $(".have-arrow").each(function(){
                $(this).attr("class","have-arrow");
            });
            $(".have-arrow").eq(0).attr("class","have-arrow on");
        });
    </script>
</div>

{/block}        
        