{extend name="layoutextend"}
{block name="nav"}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <title></title>
    <link rel="stylesheet" href="__STATIC__/xing/css/css.css">
    <link rel="stylesheet" href="__STATIC__/xing/css/css2.css">
    <link rel="stylesheet" href="__STATIC__/xing/css/css3.css">
    <link rel="stylesheet" href="__STATIC__/xing/css/css4.css">
    
</head>
<body>
<div style="margin-left: 2%;margin-right: 2%; margin-top: 1%;">
        <h1 style="text-align: center;">评价</h1>
<button class="btn" style="margin-top: -5%;" id="showModel">添加</button> 
        <div class="hei"></div>
    <table class="table table-bordered" >

        <thead>
            <tr>
                <!-- <th>id</th> -->
                <th>编号</th>
                <th>所属文章</th>
                <th>评论人</th>
                <th>内容</th>
                <th>点赞数</th>
                 <th>时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="yuansuzhijia">
            {foreach name="res" item="vores"}
            <tr>
                <td class="sfid">{$vores.id}</td>
            <td class="aid" name="{$vores.aid}" >{$plan.name}</td>
            <td class="arname" >{$vores.arname}</td>
            <td class="arcount" >{$vores.arcount}</td>
            <td class="dzshu" >{$vores.dzshu}</td>
            <td class="time">{$vores.time}</td> 
            <td><span style=" cursor: pointer;" class="showModel2">修改</span> |
            <span style=" cursor: pointer;" class="delcom">删除</span> |
            <span style=" cursor: pointer;" class=""><a style="color: #000;" href="{:url('admin/arping/hui',['aid'=>$vores.aid,'arid'=>$vores.id])}">回复</a></span> </td>
            </tr>

            {/foreach}
        </tbody>
        
    </table>
</div>

<!-- 模态框 -->
<div>
     <!-- 模态框添加 -->
    <div id="modal" class="modal">  
        <div class="modal-content">  
            <header class="modal-header">  
                <h4>添加</h4>  
                <span class="close">×</span>  
            </header>  
            <div class="modal-body">  
                <form id="formsubadd" class="form-inline" method="post" enctype="multipart/form-data" action="{:url('admin/arping/add')}" >
                <table  style="border-collapse:separate; border-spacing:10px; width: 100%;" >
                <!-- 公司id -->
               
                <!-- 方案id -->
                <input type="hidden" name="aid" value="{$plan['id']}">
                   
                    <tr>
                        <td >文章名称</td>
                        <td>
                            <input type="text" class="form-control" value="{$plan['name']}" disabled="disabled">
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td >评论者</td>
                        <td>
                            <input type="text" class="form-control" name="arname" placeholder="请输入名称">
                        </td>
                    </tr>
                    <tr>
                        <td >点评内容</td>
                        <td>
                            <textarea name="arcount" class="form-control" rows="5" cols="80"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td >点评时间</td>
                        <td>
                            <input type="date" name="time" value="">
                        </td>
                    </tr>
                </table>
            </form> 
            </div>  
            <footer class="modal-footer">  
                <button type="button" id="cancel">取消</button>  
                <button type="button" id="sure">确定</button>  
            </footer> 
            
        </div>  
    </div> 

    <!-- 模态框修改 -->
    <div id="modal2" class="modal">  
        <div class="modal-content">  
            <header class="modal-header">  
                <h4>信息修改</h4>  
                <span class="close2">×</span>  
            </header>  
             <div class="modal-body">  
                <form id="formsubedit" class="form-inline" method="post" enctype="multipart/form-data" action="{:url('admin/arping/edit')}" >
                <table  style="border-collapse:separate; border-spacing:10px; width: 100%;" >
                <input type="hidden" name="id" id="sfid" value="">
                <!-- 公司id -->
                
                <!-- 方案id -->
                <input type="hidden" name="aid" value="{$plan['id']}">
                     <tr>
                        <td >文章名称</td>
                        <td>
                            <input type="text" class="form-control"  value="{$plan['name']}" disabled="disabled">
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td >评论者</td>
                        <td>
                            <input type="text" class="form-control" name="arname" id="arname" placeholder="请输入名称">
                        </td>
                    </tr>
                    <tr>
                        <td >点评内容</td>
                        <td>
                            <textarea name="arcount" class="form-control" id="arcount" rows="5" cols="80"></textarea>
                        </td>
                    </tr>
                    
                </table>
            </form> 
            </div> 
            <footer class="modal-footer">  
                <button type="button" id="cancel2">取消</button>  
                <button type="button" id="sure2">确定</button>  
            </footer>
        </div>  
    </div>  
</div>
</body>
<!-- 模态框js -->
<script>  
// 添加

    var btn = document.getElementById('showModel');  
    var close = document.getElementsByClassName('close')[0];  
    var cancel = document.getElementById('cancel');  
    var sure = document.getElementById('sure'); 
    var modal = document.getElementById('modal');  
    btn.addEventListener('click', function(){
        modal.style.display = "block";  
    });  
    close.addEventListener('click', function(){  
        modal.style.display = "none";  
    });  
    cancel.addEventListener('click', function(){  
        modal.style.display = "none";  
    });  
     
    sure.addEventListener('click', function(){  
        // 获取信息
            $("#formsubadd").submit();
        
        
    });
    // 修改   
    var close2 = document.getElementsByClassName('close2')[0];  
    var cancel2 = document.getElementById('cancel2');  
    var sure2 = document.getElementById('sure2');  
    var modal2 = document.getElementById('modal2'); 
    //模态框展示 
    $(".showModel2").click(function(){
        // 获取卧室id
        var arname = $(this).parent().parent().find(".arname").html();
        var sfid= $(this).parent().parent().find(".sfid").html();
        var aid = $(this).parent().parent().find(".aid").attr('name');
        var arcount=$(this).parent().parent().find(".arcount").html();
        var dzshu=$(this).parent().parent().find(".dzshu").html();
         $("#sfid").val(sfid);
         $("#arname").val(arname);
         $("#arcount").val(arcount);
        modal2.style.display = "block"; 
    });
    close2.addEventListener('click', function(){  
        modal2.style.display = "none";  
    }); 
    cancel2.addEventListener('click', function(){  
        modal2.style.display = "none";  
    });  
    //执行修改
    sure2.addEventListener('click', function(){
        // 获取信息
            $("#formsubedit").submit();
        
        
    });
    // 执行删除
    $(".delcom").click(function(){
        if(confirm("确定删除该类型吗？")){
            var sfid = $(this).parent().parent().find(".sfid").html();
            // alert(sfid);return false;
            $(this).parent().parent().remove();
            // console.log(aa);return false;
            $.ajax({
                type:"post",
                dataType:'json',
                async:false,
                url:'{:url("admin/arping/del")}',
                data:{"sfid":sfid},
                success:function(dd){
                    // alert(dd);
                 //    console.log(dd);
                    if (dd.code == 200) {
                        //jq 删除元素

                    }else{
                        alert(msg);
                    }
                     
                }
            })
        }
    });
</script> 
</html>
{/block}